@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about kniga at <a href="https://github.com/Jevkray/book">GitHub</a></p>
</div>
